.mainWrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1.8fr;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;

  min-height: 80vh;
  width: min(100% - 10%, 1400px);

  .leftPanelWrapper {
    z-index: 4;
    padding: 3em;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;

    .contentWrapper {
      text-align: center;
      max-width: 240px;
      display: grid;
      gap: 2em;

      button {
        cursor: pointer;
        border: 0;
        border-radius: 50%;
        background-color: var(--dark);
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        img {
          width: 50%;
          height: 50%;
          transform: rotate(180deg);
          transition: 0.3s;

          &.open {
            transform: rotate(0deg);
          }
        }
      }

      .faceImageWrapper {
        margin-bottom: 4em;

        img {
          width: 90%;
        }
      }

      h1 {
        margin-bottom: 0.5em;
      }
    }
  }

  .rightPanelWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--light);
    transition: 0.3s;

    .formWrapper {
      padding: 3em;
      width: min(100% - 5em, 600px);
    }

    .contentWrapper {
      padding: 3em;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      z-index: 3;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--primary-dark);
      transform: translateX(-100%);
      transition: 1s cubic-bezier(.34,.12,.34,1);
      border-radius: 0 12px 12px 0;

      &.open {
        transform: translateX(0);
      }

      h2 {
        margin-bottom: 1em;
        font-size: 2em;
      }

      p {
        margin-bottom: 1em;
      }
    }

    .formWrapper {
      display: block;

      form {
        display: grid;
        gap: 1em;
        width: 90%;

        .formRadio,
        .formItem {
          display: flex;

          input {
            border: 0;
            border-radius: 6px;
            background-color: var(--gray);
            border: 1px solid var(--gray);
            padding: 0.7em 1em;
          }
        }
        .formItem {
          grid-template-columns: 1fr 2fr;
          align-items: center;
          width: 100%;

          label {
            width: 10em;
            position: relative;

            div {
              position: absolute;
              top: 2px;
              left: -12px;
              width: 0.5em;
              height: 0.5em;
              background-color: var(--primary-dark);
              border-radius: 50%;
              display: none;
            }
          }

          div {
            width: min(100% - 10em);
            input {
              
              appearance: none;
  
              &:focus {
                background-color: var(--light);
                border: 1px solid var(--gray);
              }
  
              &::-webkit-calendar-picker-indicator {
                background: url("/images/calendar.svg");
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                cursor: pointer;
                transition: 0.3s;
  
                &:hover {
                  transform: translateY(-7%);
                }
              }
            }
  
            small {
              color: var(--primary-dark);
              display: none;
              margin-left: auto;
            }
          }
          

          &.error {
            label {
              color: var(--primary-dark) !important;

              div {
                display: block;
              }
            }

            div {
              input {
                border-color: var(--primary-dark);
              }
  
              small {
                display: block;
              }
            }
          }
        }

        .formRadio {
          label {
            width: min(10em - 1.6em);
          }
          grid-template-columns: auto 1fr 1fr 1fr;
          align-items: center;
          gap: 1em;

          .radioWrapper {
            width: 90%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            gap: 1em;
          }

          .radioItem {
            display: flex;
            align-items: center;

            span {
              color: var(--secondary-dark);
            }

            div {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              border: 0;
              margin-right: 1em;
              background-color: var(--gray);
              border: 1px solid var(--gray);
              display: flex;
              align-items: center;
              justify-content: center;
              transition: 0.3s;
              cursor: pointer;

              &:hover {
                border: 1px solid var(--gray-dark);
              }
            }

            &.active {
              div {
                background-color: var(--gray-dark);
                border: 1px solid var(--gray-dark);
              }
            }
          }
        }
      }
      .formButtons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 1em;
        margin-top: 2em;
      }
    }
  }

  .button {
    border: 0;
    font-size: 18px;
    padding: 0.8em;
    width: 120px;
    cursor: pointer;
    font-weight: 100;
    text-transform: uppercase;
    border-radius: 4px;
    transition: 0.3s;

    &.primary {
      background-color: var(--secondary);
      color: var(--light);

      &:hover {
        background-color: var(--secondary-dark);
      }
    }
    &.secondary {
      background-color: var(--gray);
      color: #111;

      &:hover {
        background-color: var(--gray-dark);
      }
    }
  }
}
