.mainWrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1.8fr;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;

  min-height: 80vh;
  width: min(100% - 10%, 1400px);
}