:root {
  // Darkest and Lightest
  --dark: #111;
  --light: #fff;

  // Ornages
  --primary: #ffd500;
  --primary-dark: #ff9200;

  // Teal
  --secondary: #60e6c5;
  --secondary-dark: #41ccaa;
  
  //Grays
  --gray: #f5f8f9;
  --gray-dark: #b1bfcd;

  --font-size: 16px;
}
