/* #== IMPORTS ==# */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap");
@import "_variables.scss";
@import "_app.scss";
@import "_leftPanel.scss";
@import "_rightPanel.scss";
@import "_form.scss";
@import "_button.scss";
@import "_mobile.scss";

/* #== Default styling ==# */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--font-size);
  color: var(--dark);
}

a {
  color: var(--dark);
  font-weight: 700;
  transition: 0.3s;

  &:hover {
    color: var(--gray-dark);
  }
}

h2 {
  font-weight: 500;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  background-color: #111;
}
